<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
      layout:decorate="~{layout}">
<head>
    <title>Edit Release</title>
</head>
<body>
<div layout:fragment="content">
    <div>
        <div class="p-2">
            <img th:src="${product.imageUrl()}"
                 th:alt="${product.name()}"
                 height="100px">
        </div>

        <div class="p-2">
            <div class="card">
                <div class="card-body">
                    <form th:method="put" th:action="@{/products/{pCode}/releases/{code}(pCode=${product.code()}, code=${releaseCode})}"
                          th:object="${release}">
                        <div class="mb-3">
                            <label for="code" class="form-label">Release Code</label>
                            <input type="text" class="form-control"
                                   id="code" name="code"
                                   th:value="${releaseCode}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="status" class="form-label">Status</label>
                            <select class="form-select"
                                    id="status" name="status"
                                    th:value="${release.status()}"
                                    th:field="*{status}">
                                <option value="DRAFT">DRAFT</option>
                                <option value="RELEASED">RELEASED</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea class="form-control" rows="8"
                                      id="description" name="description"
                                      th:field="*{description}"
                                      th:text="${release.description()}"
                            ></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="releasedAt" class="form-label">Released Date</label>
                            <input type="text" class="form-control"
                                   id="releasedAt" name="releasedAt"
                                   th:value="${release.releasedAt()}">
                        </div>
                        <div class="mb-3">
                            <input type="submit" class="btn btn-primary" value="Save">
                            <a th:href="@{/products/{code}(code=${product.code()})}"
                               class="btn btn-secondary">
                                Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>