<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
    <div>
        <!--<h1>Welcome <span th:text="${username}">username</span></h1>-->

        <div th:each="product: ${products}" style="height: 140px;">
            <a th:href="@{/products/{code}(code=${product.code()})}">
                <img th:src="${product.imageUrl()}"
                         th:alt="${product.name()}"
                         height="100px">
            </a>
            <hr/>
        </div>
    </div>
</div>
</body>
</html>